# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Data directories
papers/
rag_data/
# Exception for vector store files
!rag_data/vector_store/
!rag_data/vector_store/index.faiss
!rag_data/vector_store/index.pkl

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 